[init]
	defaultBranch = main
[user]
	email = mgerstem@gmail.com
	name = Matthew

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[difftool "vimdiff"]
    cmd = vimdiff $LOCAL $REMOTE

[alias]
        s = status -sb
        #lg = log --pretty=format:\"%h%x09%an%x09%ad%x09%s\"
        ll = log --color --graph --date=format:'%D - %H:%M:%S' --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'
        sh = show --pretty="" --name-only
        cm = checkout master
        c = commit -a
        r = reset --hard HEAD

[core]
        editor = vim
